@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}

.tab-btn.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 4px;
  width: 35%;
  background: #ef4444;
  transform: translateX(-50%);
}
